<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <% const nama = 'jhony' %>
        <p>This is index html.</p>
        <p>Hi selamat datang <%= nama %></p>
        <h2>Daftar makanan :</h2>
        <% makanans.forEach(item => { %>
            <ul>
                <li>Nama: <%= item.nama %></li>
                <li>Qty: <%= item.qty %></li>
            </ul>
        <% }) %>
    </div>
</body>
</html>